@import "grid.css";
@import "layout.css";
h4 {
  text-align: center;
  background-color: bisque;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.info-heading {
  text-align: center;
  background-color: bisque;
  padding: 0.2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
table {
  margin-top: 0.5rem;
}

#connections .add-connection {
  display: block;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 10000;
  font-size: 2rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.tableinfo {
  display: flex;
}
.card {
  margin-bottom: 0.2rem;
}
.info {
  align-self: center;
  width: 50%;
}
.query-form {
  height: 100%;
  margin-top: 2rem;
}
.control-label.required:after {
  content: "*";
  color: red;
}
.list-group-item-action {
  cursor: pointer;
}
.list-group-item-action:hover {
  color: white !important;
  background-color: blue !important;
}
td {
  white-space: nowrap;
}
.connect-db {
  font-size: 2rem;
  cursor: pointer;
}
.connect-db:hover,
.add-connection:hover {
  color: rgb(172, 98, 8);
}
