@import "grid.css";
@import "layout.css";
h4 {
  text-align: center;
  background-color: bisque;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

table {
  margin-top: 0.5rem;
}
.query-control {
  display: flex;
  justify-content: flex-end;
}
#connections .add-connection {
  display: block;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 10000;
  margin-bottom: 10px;
}
.tableinfo {
  display: flex;
  overflow: scroll;
}
.card {
  margin-bottom: 0.2rem;
}
.info {
  align-self: center;
  width: 50%;
}
.action {
  align-self: flex-end;
  display: block;
  padding: 0.5rem;
  max-width: max-content;
}
.query-form {
  height: 100%;
  margin-top: 2rem;
}
.control-label:after {
  content: "*";
  color: red;
}
