h4 {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.info-heading {
  padding: 0.2rem;
  text-transform: uppercase;
  border-bottom: 1px dotted black;
}
table {
  margin-top: 0.5rem;
}

#connections .add-connection {
  display: block;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 10000;
  font-size: 2.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.tableinfo {
  display: flex;
  width: 100%;
}
.card {
  margin-bottom: 0.2rem;
}
.info {
  align-self: center;
  width: 50%;
}
.query-form {
  height: 100%;
  margin-top: 2rem;
}
.control-label.required:after {
  content: "*";
  color: red;
}
.list-group-item-action {
  cursor: pointer;
}
td {
  white-space: nowrap;
}
.table-meta-data {
  width: 100%;
}
.loading-container {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}
.spinner {
  align-self: center;
  overflow: hidden;
}

#connections h4,
#keyspaces h4 {
  position: sticky;
  top: -0.4rem;
  background-color: #f3e6e3;
  border-radius: 2px;
  color: #776d8a;
  z-index: 100;
}
.control-section {
  display: flex;
  justify-content: space-between;
}
